<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/main.css')}}">
        <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div
            class="container">
            {#  navigation #}
            <h2>Navigation bar</h2>

            {% block body %}{% endblock %}

        </div>
         
        {% block javascripts %}
       <script type="text/javascript" src="{{asset('build/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
